Weekend2Project/__pycache__/logger.cpython-39.pyc
Weekend2Project/__pycache__/spreadsheetProcessor.cpython-39.pyc
Weekend2Project/expedia_report_monthly_january_2018.xlsx
Weekend2Project/expedia_report_monthly_march_2018.xlsx
Weekend2Project/Archive/expedia_report_monthly_january_2018.xlsx
Weekend2Project/Archive/expedia_report_monthly_march_2018.xlsx
Weekend2Project/Error/expedia_report_monthly_april_2018.xlsx
Weekend2Project/Error/expedia_report_monthly_february_2018.xlsx
Weekend2Project/Error/wrong_format_jan_2018.xlsx
